<h1>All Houses</i></h1>

<% for house in @houses %>
    <p><a href="/houses/<%= house[:id] %>"><%= house[:address]%></a></p>
<% end %>

<h2> 
    <i class="fas fa-cat"></i>
    <i class="fas fa-spider"></i>
    <i class="fas fa-book-dead"></i>
    <i class="fas fa-cloud-moon"></i>
</h2>